.input {
  input,
  textarea {
    width: 100%;
    font-size: $heading-3;
    background: transparent;
    border: 0;

    &:focus {
      outline: 0;
    }
  }

  &.search {
    margin: 20px 0;
    padding: 0 20px;
  }
}

.form {
  textarea {
    max-width: 100%;
    min-width: 100%;
    font-family: $font-family-primary;
    font-size: $default-font-size;
  }
}
