.btn {
  padding: 14px 50px;
  border: 0;
  font-weight: 700;
  color: $white;
  border-radius: 30px;
  font-size: $default-font-size;
  line-height: $default-font-size;
  cursor: pointer;
  margin-left: 8px;

  &:focus {
    outline: none;
  }

  &:first-child {
    margin-left: 0;
  }
}

.btn-primary {
  background-color: $primary-color;
}

.btn-icon {
  border-radius: 50%;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 0.5;
  background-color: $light-white;
  color: $primary-color;
}