.todo {
  padding: 12px 20px;
  border-radius: 10px;

  &:hover {
    background-color: lighten($primary-color, 40%);
  }
}

.todo-contents {
  float: left;
  width: calc(100% - 100px);

  .title {
    color: $text-color;
  }

  .description {
    color: $text-color-light;
  }

  &.fade {
    .title {
      color: $text-color-light;
    }
    
    .description {
      color: $text-color-extra-light;
    }
  }
}

.todo-actions {
  float: right;
  width: 100px;
  text-align: right;
}
