.navbar {
  width: 100%;
  padding: 10px 0;

  ul {
    text-align: center;
  }
}

.nav-link {
  display: inline-block;
  margin: 0 20px;
  text-transform: uppercase;

  a {
    font-weight: 700;
    color: $text-color-light;
    text-decoration: none;

    &.active {
      color: $text-color;
    }
  }
}